*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    padding:200px;
}
.section{
    height:50vh;
    text-align: center;
}
.section p{
    color:white;
}
::-webkit-scrollbar{
    width: 0;
}
.scrollpath{
    position: fixed;
    top:0;
    right: 0;
    width:10px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}
#progressbar{
    position: fixed;
    top:0;
    right: 0;
    width: 10px;
    height: 100%;
    background:linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

